SAMVAD_HOST=192.168.0.15
SAMVAD_HTTP_PORT=9000
SAMVAD_WS_PORT=9095
SAMVAD_USERNAME=admin
SAMVAD_PASSWORD=Admin@12
PORT=18000
MAX_MESSAGES=100
INSPECT_MS=20000
SHUTTLE_PRO_ENABLED=true
MOS_PORT=10541
MOS_ID=WTVISION.STUDIO.MOS
MOS_DEVICE_ID=DDNRCS
DB_HOST=103.196.4.141
DB_USER=itmaint
DB_PASSWORD=itddkchn
DB_NAME=nrcsnew
NEWDATABASE=true
SAMVAD_SEND_DELAY_MS=150
